body {
    background-color: black;
    color: lime;
    background-image: url("favicon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-position: 0px -500px;
}

.App {
    height: 60%;
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    border-radius: 5px;
    word-wrap: normal;
    white-space: nowrap;
    background-color: rgba(00, 00, 00, 0.5);
}

@media(max-width:1300px) {
    .App {
        height: 80%;
        width: 100%;
        position: fixed;
        border-radius: 5px;
        word-wrap: normal;
        white-space: nowrap;
    }

    body {
        background-position: 0px -200px;
    }
}

@media(max-width:1600px){
    body {
        background-position: 0px -150px;
    }
}

@media(max-width:1200px){
    body {
        background-position: 0px -100px;
    }
}

@media(max-width:1000px){
    body {
        background-position: 0px -50px;
    }
}

@media(max-width:900px){
    body {
        background-position: 0px -30px;
    }
}

@media(max-width:800px){
    body {
        background-position: 0px -20px;
    }
}

@media(max-width:700px){
    body {
        background-position: 0px 50px;
    }
}

.App::-webkit-scrollbar {
    width: 12px;
}

.App::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(124, 207, 255, 0.8); 
    border-radius: 10px;
}

.App::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(124,207,255,1); 
}