@import "./fonts.css";

.promptCom {
    color: #00ff00;
}


.output {
    font-family: 'JetBrains Mono', monospace;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 5px;
}

.errorOut {
    color: red;
}

.inputBox {
    color:yellow;
    border: none;
    background-color: transparent;
    font-family: 'JetBrains Mono', monospace;
    font-size: 13px;
}

.inputBox:focus {
    outline: none;
    outline-color: black;
    caret-color: white;
}

.skillHeader {
    color: aqua;
}

.confidence {
    color:darkseagreen;
}

.helpRes {
    color: aqua;
}

.helpHeader {
    color:goldenrod;
}

.themeChangeHeader {
    color:darkseagreen;
}

.themeOpts {
    color:goldenrod;
}